
  
  
  <div class="head" id="head">
    <app-header></app-header>
  </div>
  <br>
  <div class="main">
    <div class='container'>

      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]='textFilter' placeholder="Filter">
      </mat-form-field>
      
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>
      
          <!-- ID Column -->
          <ng-container matColumnDef="table_id">
            <th mat-header-cell *matHeaderCellDef><button mat-raised-button (click)="addTable()" >Add Record</button></th>
            <td mat-cell *matCellDef="let row"> tbid{{row.table_id}} </td>
          </ng-container>
      
          <!-- Progress Column -->
          <ng-container matColumnDef="table_num">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Table Number </th>
            <td mat-cell *matCellDef="let row" class='food_name'> {{row.table_num}} </td>
          </ng-container>
      
          <!-- Name Column -->
          <ng-container matColumnDef="num_seate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Number of Seate </th>
            <td mat-cell *matCellDef="let row"> {{row.seate_num}} </td>
          </ng-container>
      
          <!-- Color Column -->
     
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Edit </th>
            <td mat-cell *matCellDef="let row" >  <button mat-raised-button (click)="edit(row)">Edit</button></td>
          </ng-container>
          
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Delete </th>
            <td mat-cell *matCellDef="let row" ><button mat-raised-button color="warn" (click)="delete(row)">delete</button></td>
          </ng-container>
          
      
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;">
          </tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
      
      
      <!-- Copyright 2018 Google Inc. All Rights Reserved.
          Use of this source code is governed by an MIT-style license that
          can be found in the LICENSE file at http://angular.io/license -->
          <br><br>
      </div>
    
  </div>
  <app-footer></app-footer>
  