<div class="header">
  <div class="title">
      <p>Food Controller</p>
  </div>
</div>
<div class="nav">
    <a class="nav-link" routerLink="/foods" routerLinkActive="active">Food</a>
    <a class="nav-link" routerLink="/tables" routerLinkActive="active">Tables</a>
    <a class="nav-link" routerLink="/orders" routerLinkActive="active">Customer Order</a>
    <a class="nav-link" routerLink="/checkbills" routerLinkActive="active">Check Bill</a>
    <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
    
    <!-- <a class="nav-link" routerLink="/" routerLinkActive="active">Register</a>
    <a class="nav-link" routerLink="/" routerLinkActive="active">Register</a>
    <a class="nav-link" routerLink="/" routerLinkActive="active">Register</a> -->
</div>